.project-card {
  height: 300px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0px;
  padding: 16px;
  transition: box-shadow 0.3s;
  border-radius: 10px;
  border: 1px solid rgb(211, 199, 255);
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}

.project-card:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.project-photo {
  width: 35%;
  border-radius: 8px;
}

.project-info {
  margin-right: 24px;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
}

.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  background-color: #d2b5ff;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.project-links a {
  text-decoration: none;
  color: black;
}

.project-links {
  margin-top: 6px;
  display: flex;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 4px 8px;
  font-size: 16px;
  margin-right: 6px;
}

.link-button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

@media only screen and (max-width: 720px) {
  .project-card {
    height: 275px;
    justify-content: center;
  }

  .project-photo {
    display: none;
  }

  .project-card {
    flex-direction: column-reverse;
  }
  .project-info {
    margin-left: 0px;
    margin-top: 12px;
  }
  .project-tags {
    max-width: 100%;
  }
}
