.blog-card {
  padding: 8px;
  width: 45%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.blog-logo {
  height: 80px;
  cursor: pointer;
}

.blog-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.blog-info a {
  text-decoration: none;
  color: black;
}

.blog-desc {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.title-name {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 720px) {
  .blog-card {
    width: 100%;
  }
}
